body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 90%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid;
  padding: 8px;
  text-align: center;
}


.img {
  width: 200px
}


.alert {
  color: red;
}
